/** @define Mailchimp; use strict */

:root {
  --Mailchimp-variable: 0;
}

.Mailchimp {
  display: inline-block;
  font-size: 0;
  text-align: center;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.5);
}

.Mailchimp-input,
.Mailchimp-submit {
  display: inline-block;
  padding: .5em .7em;
  font-size: 14px;
  border: 0;
}

.Mailchimp-input {
  color: var(--Color-black);
  border-radius: 3px 0 0 3px;
}

.Mailchimp-submit {
  color: var(--Color-white);
  line-height: 1.4;
  background-color: var(--Color-green);
  border-radius:  0 3px 3px 0;
}

.Mailchimp-submit:hover {
  background-color: var(--Color-purple);
}
