/** @define Header; */

:root {
  --Header-mainLogo-z: 0;
}

.Header {
}

.Header-mainLogo {
  top: -30px;
  z-index: var(--Header-mainLogo-z);
  font-size: 80px;
}

.Header-mainLogo .Logo {
  display: block;
}

@media (--xs-viewport) {
  .Header-mainLogo {
    font-size: 100px;
  }
}

@media (--sm-viewport) {
  .Header-mainLogo {
    font-size: 120px;
  }
}

@media (--md-viewport) {
  .Header-mainLogo {
    font-size: 160px;
  }
}
