	<meta name="msapplication-square70x70logo" content="/wp-content/themes/ybb-theme/build/images/favicons/windows-tile-70x70.png">
	<meta name="msapplication-square150x150logo" content="/wp-content/themes/ybb-theme/build/images/favicons/windows-tile-150x150.png">
	<meta name="msapplication-square310x310logo" content="/wp-content/themes/ybb-theme/build/images/favicons/windows-tile-310x310.png">
	<meta name="msapplication-TileImage" content="/wp-content/themes/ybb-theme/build/images/favicons/windows-tile-144x144.png">
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/wp-content/themes/ybb-theme/build/images/favicons/apple-touch-icon-152x152-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/wp-content/themes/ybb-theme/build/images/favicons/apple-touch-icon-120x120-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/wp-content/themes/ybb-theme/build/images/favicons/apple-touch-icon-76x76-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/wp-content/themes/ybb-theme/build/images/favicons/apple-touch-icon-60x60-precomposed.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/wp-content/themes/ybb-theme/build/images/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/wp-content/themes/ybb-theme/build/images/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/wp-content/themes/ybb-theme/build/images/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="57x57" href="/wp-content/themes/ybb-theme/build/images/favicons/apple-touch-icon.png">
	<link rel="shortcut icon" href="/wp-content/themes/ybb-theme/build/images/favicons/favicon.ico">
	<link rel="icon" type="image/png" sizes="64x64" href="/wp-content/themes/ybb-theme/build/images/favicons/favicon.png">
