/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications. Removes the default spacing and border for
 * appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
  margin: 0;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Suppress the focus outline on links that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 */

[tabindex="-1"]:focus {
  outline: none !important;
}

/**
 * Vertical alignment utilities
 * Depends on an appropriate `display` value.
 */

.u-alignBaseline {
  vertical-align: baseline !important;
}

.u-alignBottom {
  vertical-align: bottom !important;
}

.u-alignMiddle {
  vertical-align: middle !important;
}

.u-alignTop {
  vertical-align: top !important;
}

/**
 * Sizing utilities
 */

/* Intrinsic widths
   ========================================================================== */

/**
 * Make an element shrink wrap its content.
 */

.u-sizeFit,
.u-sizeFitAlt {
  display: block !important;
  float: left !important;
  width: auto !important;
}

.u-sizeFitAlt {
  float: right !important;
}

/**
 * Make an element fill the remaining space.
 * N.B. This will hide overflow.
 */

.u-sizeFill {
  display: block !important;
  overflow: hidden !important;
  width: auto !important;
}

/**
 * An alternative method to make an element fill the remaining space.
 * N.B. Do not use if child elements might be wider than the remaining space.
 * In Chrome, Safari, and Firefox it results in undesired layout.
 */

.u-sizeFillAlt {
  display: table-cell !important;
  max-width: 100% !important;
  width: 10000px !important;
}

/**
 * Make an element the width of its parent.
 */

.u-sizeFull {
  box-sizing: border-box !important;
  display: block !important;
  width: 100% !important;
}

/* Proportional widths
   ========================================================================== */

/**
 * Specify the proportional width of an object.
 * Intentional redundancy build into each set of unit classes.
 * Supports: 2, 3, 4, 5, 6, 8, 10, 12 part
 */

.u-size1of12 {
  width: 8.333333333333332% !important;
}

.u-size1of10 {
  width: 10% !important;
}

.u-size1of8 {
  width: 12.5% !important;
}

.u-size1of6,
.u-size2of12 {
  width: 16.666666666666664% !important;
}

.u-size1of5,
.u-size2of10 {
  width: 20% !important;
}

.u-size1of4,
.u-size2of8,
.u-size3of12 {
  width: 25% !important;
}

.u-size3of10 {
  width: 30% !important;
}

.u-size1of3,
.u-size2of6,
.u-size4of12 {
  width: 33.33333333333333% !important;
}

.u-size3of8 {
  width: 37.5% !important;
}

.u-size2of5,
.u-size4of10 {
  width: 40% !important;
}

.u-size5of12 {
  width: 41.66666666666667% !important;
}

.u-size1of2,
.u-size2of4,
.u-size3of6,
.u-size4of8,
.u-size5of10,
.u-size6of12 {
  width: 50% !important;
}

.u-size7of12 {
  width: 58.333333333333336% !important;
}

.u-size3of5,
.u-size6of10 {
  width: 60% !important;
}

.u-size5of8 {
  width: 62.5% !important;
}

.u-size2of3,
.u-size4of6,
.u-size8of12 {
  width: 66.66666666666666% !important;
}

.u-size7of10 {
  width: 70% !important;
}

.u-size3of4,
.u-size6of8,
.u-size9of12 {
  width: 75% !important;
}

.u-size4of5,
.u-size8of10 {
  width: 80% !important;
}

.u-size5of6,
.u-size10of12 {
  width: 83.33333333333334% !important;
}

.u-size7of8 {
  width: 87.5% !important;
}

.u-size9of10 {
  width: 90% !important;
}

.u-size11of12 {
  width: 91.66666666666666% !important;
}

/**
 * Size: breakpoint 1 (small)
 */

@media (min-width: 560px) {
  /**
   * Make an element shrink wrap its content.
   */

  .u-sm-sizeFit,
  .u-sm-sizeFitAlt {
    display: block !important;
    float: left !important;
    width: auto !important;
  }

  .u-sm-sizeFitAlt {
    float: right !important;
  }

  /**
   * Make an element fill the remaining space.
   * N.B. This will hide overflow.
   */

  .u-sm-sizeFill {
    display: block !important;
    overflow: hidden !important;
    width: auto !important;
  }

  /**
   * An alternative method to make an element fill the remaining space.
   * N.B. Do not use if child elements might be wider than the remaining space.
   * In Chrome, Safari, and Firefox it results in undesired layout.
   */

  .u-sm-sizeFillAlt {
    display: table-cell !important;
    max-width: 100% !important;
    width: 10000px !important;
  }

  /**
   * Make an element the width of its parent.
   */

  .u-sm-sizeFull {
    box-sizing: border-box !important;
    display: block !important;
    width: 100% !important;
  }

  /* Proportional widths: breakpoint 1 (small)
     ========================================================================== */

  /**
   * Specify the proportional width of an object.
   * Intentional redundancy build into each set of unit classes.
   * Supports: 2, 3, 4, 5, 6, 8, 10, 12 part
   */

  .u-sm-size1of12 {
    width: 8.333333333333332% !important;
  }

  .u-sm-size1of10 {
    width: 10% !important;
  }

  .u-sm-size1of8 {
    width: 12.5% !important;
  }

  .u-sm-size1of6,
  .u-sm-size2of12 {
    width: 16.666666666666664% !important;
  }

  .u-sm-size1of5,
  .u-sm-size2of10 {
    width: 20% !important;
  }

  .u-sm-size1of4,
  .u-sm-size2of8,
  .u-sm-size3of12 {
    width: 25% !important;
  }

  .u-sm-size3of10 {
    width: 30% !important;
  }

  .u-sm-size1of3,
  .u-sm-size2of6,
  .u-sm-size4of12 {
    width: 33.33333333333333% !important;
  }

  .u-sm-size3of8 {
    width: 37.5% !important;
  }

  .u-sm-size2of5,
  .u-sm-size4of10 {
    width: 40% !important;
  }

  .u-sm-size5of12 {
    width: 41.66666666666667% !important;
  }

  .u-sm-size1of2,
  .u-sm-size2of4,
  .u-sm-size3of6,
  .u-sm-size4of8,
  .u-sm-size5of10,
  .u-sm-size6of12 {
    width: 50% !important;
  }

  .u-sm-size7of12 {
    width: 58.333333333333336% !important;
  }

  .u-sm-size3of5,
  .u-sm-size6of10 {
    width: 60% !important;
  }

  .u-sm-size5of8 {
    width: 62.5% !important;
  }

  .u-sm-size2of3,
  .u-sm-size4of6,
  .u-sm-size8of12 {
    width: 66.66666666666666% !important;
  }

  .u-sm-size7of10 {
    width: 70% !important;
  }

  .u-sm-size3of4,
  .u-sm-size6of8,
  .u-sm-size9of12 {
    width: 75% !important;
  }

  .u-sm-size4of5,
  .u-sm-size8of10 {
    width: 80% !important;
  }

  .u-sm-size5of6,
  .u-sm-size10of12 {
    width: 83.33333333333334% !important;
  }

  .u-sm-size7of8 {
    width: 87.5% !important;
  }

  .u-sm-size9of10 {
    width: 90% !important;
  }

  .u-sm-size11of12 {
    width: 91.66666666666666% !important;
  }
}

/**
 * Size: breakpoint 2 (medium)
 */

@media (min-width: 768px) {
  /**
   * Make an element shrink wrap its content.
   */

  .u-md-sizeFit,
  .u-md-sizeFitAlt {
    display: block !important;
    float: left !important;
    width: auto !important;
  }

  .u-md-sizeFitAlt {
    float: right !important;
  }

  /**
   * Make an element fill the remaining space.
   * N.B. This will hide overflow.
   */

  .u-md-sizeFill {
    display: block !important;
    overflow: hidden !important;
    width: auto !important;
  }

  /**
   * An alternative method to make an element fill the remaining space.
   * N.B. Do not use if child elements might be wider than the remaining space.
   * In Chrome, Safari, and Firefox it results in undesired layout.
   */

  .u-md-sizeFillAlt {
    display: table-cell !important;
    max-width: 100% !important;
    width: 10000px !important;
  }

  /**
   * Make an element the width of its parent.
   */

  .u-md-sizeFull {
    box-sizing: border-box !important;
    display: block !important;
    width: 100% !important;
  }

  /* Proportional widths: breakpoint 2 (medium)
     ========================================================================== */

  /**
   * Specify the proportional width of an object.
   * Intentional redundancy build into each set of unit classes.
   * Supports: 2, 3, 4, 5, 6, 8, 10, 12 part
   */

  .u-md-size1of12 {
    width: 8.333333333333332% !important;
  }

  .u-md-size1of10 {
    width: 10% !important;
  }

  .u-md-size1of8 {
    width: 12.5% !important;
  }

  .u-md-size1of6,
  .u-md-size2of12 {
    width: 16.666666666666664% !important;
  }

  .u-md-size1of5,
  .u-md-size2of10 {
    width: 20% !important;
  }

  .u-md-size1of4,
  .u-md-size2of8,
  .u-md-size3of12 {
    width: 25% !important;
  }

  .u-md-size3of10 {
    width: 30% !important;
  }

  .u-md-size1of3,
  .u-md-size2of6,
  .u-md-size4of12 {
    width: 33.33333333333333% !important;
  }

  .u-md-size3of8 {
    width: 37.5% !important;
  }

  .u-md-size2of5,
  .u-md-size4of10 {
    width: 40% !important;
  }

  .u-md-size5of12 {
    width: 41.66666666666667% !important;
  }

  .u-md-size1of2,
  .u-md-size2of4,
  .u-md-size3of6,
  .u-md-size4of8,
  .u-md-size5of10,
  .u-md-size6of12 {
    width: 50% !important;
  }

  .u-md-size7of12 {
    width: 58.333333333333336% !important;
  }

  .u-md-size3of5,
  .u-md-size6of10 {
    width: 60% !important;
  }

  .u-md-size5of8 {
    width: 62.5% !important;
  }

  .u-md-size2of3,
  .u-md-size4of6,
  .u-md-size8of12 {
    width: 66.66666666666666% !important;
  }

  .u-md-size7of10 {
    width: 70% !important;
  }

  .u-md-size3of4,
  .u-md-size6of8,
  .u-md-size9of12 {
    width: 75% !important;
  }

  .u-md-size4of5,
  .u-md-size8of10 {
    width: 80% !important;
  }

  .u-md-size5of6,
  .u-md-size10of12 {
    width: 83.33333333333334% !important;
  }

  .u-md-size7of8 {
    width: 87.5% !important;
  }

  .u-md-size9of10 {
    width: 90% !important;
  }

  .u-md-size11of12 {
    width: 91.66666666666666% !important;
  }
}

/**
 * Size: breakpoint 3 (large)
 */

@media (min-width: 1024px) {
  /**
   * Make an element shrink wrap its content.
   */

  .u-lg-sizeFit,
  .u-lg-sizeFitAlt {
    display: block !important;
    float: left !important;
    width: auto !important;
  }

  .u-lg-sizeFitAlt {
    float: right !important;
  }

  /**
   * Make an element fill the remaining space.
   * N.B. This will hide overflow.
   */

  .u-lg-sizeFill {
    display: block !important;
    overflow: hidden !important;
    width: auto !important;
  }

  /**
   * An alternative method to make an element fill the remaining space.
   * N.B. Do not use if child elements might be wider than the remaining space.
   * In Chrome, Safari, and Firefox it results in undesired layout.
   */

  .u-lg-sizeFillAlt {
    display: table-cell !important;
    max-width: 100% !important;
    width: 10000px !important;
  }

  /**
   * Make an element the width of its parent.
   */

  .u-lg-sizeFull {
    box-sizing: border-box !important;
    display: block !important;
    width: 100% !important;
  }

  /* Proportional widths: breakpoint 3 (large)
     ========================================================================== */

  /**
   * Specify the proportional width of an object.
   * Intentional redundancy build into each set of unit classes.
   * Supports: 2, 3, 4, 5, 6, 8, 10, 12 part
   */

  .u-lg-size1of12 {
    width: 8.333333333333332% !important;
  }

  .u-lg-size1of10 {
    width: 10% !important;
  }

  .u-lg-size1of8 {
    width: 12.5% !important;
  }

  .u-lg-size1of6,
  .u-lg-size2of12 {
    width: 16.666666666666664% !important;
  }

  .u-lg-size1of5,
  .u-lg-size2of10 {
    width: 20% !important;
  }

  .u-lg-size1of4,
  .u-lg-size2of8,
  .u-lg-size3of12 {
    width: 25% !important;
  }

  .u-lg-size3of10 {
    width: 30% !important;
  }

  .u-lg-size1of3,
  .u-lg-size2of6,
  .u-lg-size4of12 {
    width: 33.33333333333333% !important;
  }

  .u-lg-size3of8 {
    width: 37.5% !important;
  }

  .u-lg-size2of5,
  .u-lg-size4of10 {
    width: 40% !important;
  }

  .u-lg-size5of12 {
    width: 41.66666666666667% !important;
  }

  .u-lg-size1of2,
  .u-lg-size2of4,
  .u-lg-size3of6,
  .u-lg-size4of8,
  .u-lg-size5of10,
  .u-lg-size6of12 {
    width: 50% !important;
  }

  .u-lg-size7of12 {
    width: 58.333333333333336% !important;
  }

  .u-lg-size3of5,
  .u-lg-size6of10 {
    width: 60% !important;
  }

  .u-lg-size5of8 {
    width: 62.5% !important;
  }

  .u-lg-size2of3,
  .u-lg-size4of6,
  .u-lg-size8of12 {
    width: 66.66666666666666% !important;
  }

  .u-lg-size7of10 {
    width: 70% !important;
  }

  .u-lg-size3of4,
  .u-lg-size6of8,
  .u-lg-size9of12 {
    width: 75% !important;
  }

  .u-lg-size4of5,
  .u-lg-size8of10 {
    width: 80% !important;
  }

  .u-lg-size5of6,
  .u-lg-size10of12 {
    width: 83.33333333333334% !important;
  }

  .u-lg-size7of8 {
    width: 87.5% !important;
  }

  .u-lg-size9of10 {
    width: 90% !important;
  }

  .u-lg-size11of12 {
    width: 91.66666666666666% !important;
  }
}

/**
 * Display-type utilities
 */

.u-block {
  display: block !important;
}

.u-hidden {
  display: none !important;
}

/**
 * Completely remove from the flow but leave available to screen readers.
 */

.u-hiddenVisually {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}

.u-inline {
  display: inline !important;
}

/**
 * 1. Fix for Firefox bug: an image styled `max-width:100%` within an
 * inline-block will display at its default size, and not limit its width to
 * 100% of an ancestral container.
 */

.u-inlineBlock {
  display: inline-block !important;
  max-width: 100%;
  /* 1 */
}

.u-table {
  display: table !important;
}

.u-tableCell {
  display: table-cell !important;
}

.u-tableRow {
  display: table-row !important;
}

/**
 * Contain floats
 *
 * Make an element expand to contain floated children.
 * Uses pseudo-elements (micro clearfix).
 *
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of the
 *    element.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.u-cf:before,
.u-cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.u-cf:after {
  clear: both;
}

/**
 * New block formatting context
 *
 * This affords some useful properties to the element. It won't wrap under
 * floats. Will also contain any floated children.

 * N.B. This will clip overflow. Use the alternative method below if this is
 * problematic.
 */

.u-nbfc {
  overflow: hidden !important;
}

/**
 * New block formatting context (alternative)
 *
 * Alternative method when overflow must not be clipped.
 *
 * 1. Create a new block formatting context (NBFC).
 * 2. Avoid shrink-wrap behaviour of table-cell.
 *
 * N.B. This breaks down in some browsers when elements within this element
 * exceed its width.
 */

.u-nbfcAlt {
  display: table-cell !important;
  /* 1 */
  width: 10000px !important;
  /* 2 */
}

/**
 * Floats
 */

.u-floatLeft {
  float: left !important;
}

.u-floatRight {
  float: right !important;
}

.u-posAbsolute {
  position: absolute !important;
}

/**
 * Pins to all corners by default. But when a width and/or height are
 * provided, the element will be centered in its nearest relatively-positioned
 * ancestor.
 */

.u-posAbsoluteCenter {
  bottom: 0 !important;
  left: 0 !important;
  margin: auto !important;
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
}

/**
 * 1. Make sure fixed elements are promoted into a new layer, for performance
 *    reasons.
 */

.u-posFixed {
  position: fixed !important;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* 1 */
}

.u-posRelative {
  position: relative !important;
}

.u-posStatic {
  position: static !important;
}

/**
 * Word breaking
 *
 * Break strings when their length exceeds the width of their container.
 */

.u-textBreak {
  word-wrap: break-word !important;
}

/**
 * Horizontal text alignment
 */

.u-textCenter {
  text-align: center !important;
}

.u-textLeft {
  text-align: left !important;
}

.u-textRight {
  text-align: right !important;
}

/**
 * Inherit the ancestor's text color.
 */

.u-textInheritColor {
  color: inherit !important;
}

/**
 * Enables font kerning in all browsers.
 * http://blog.typekit.com/2014/02/05/kerning-on-the-web/
 *
 * 1. Chrome (not Windows), Firefox, Safari 6+, iOS, Android
 * 2. Chrome (not Windows), Firefox, IE 10+
 * 3. Safari 7 and future browsers
 */

.u-textKern {
  text-rendering: optimizeLegibility;
  /* 1 */
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  /* 2 */
  -webkit-font-kerning: normal;
  font-kerning: normal;
  /* 3 */
}

/**
 * Prevent whitespace wrapping
 */

.u-textNoWrap {
  white-space: nowrap !important;
}

/**
 * Text truncation
 *
 * Prevent text from wrapping onto multiple lines, and truncate with an
 * ellipsis.
 *
 * 1. Ensure that the node has a maximum width after which truncation can
 *    occur.
 * 2. Fix for IE 8/9 if `word-wrap: break-word` is in effect on ancestor
 *    nodes.
 */

.u-textTruncate {
  max-width: 100%;
  /* 1 */
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
  /* 2 */
}

/** @define Grid; use strict */



/**
 * Core grid component
 *
 * DO NOT apply dimension or offset utilities to the `Grid` element. All cell
 * widths and offsets should be applied to child grid cells.
 */

/* Grid container
   ========================================================================== */

/**
 * All content must be contained within child `Grid-cell` elements.
 *
 * 1. Account for browser defaults of elements that might be the root node of
 *    the component.
 * 2. Remove inter-cell whitespace that appears between `inline-block` child
 *    elements.
 * 3. Ensure consistent default alignment.
 */

.Grid {
  display: block;
  /* 1 */
  font-size: 0;
  /* 2 */
  margin: 0;
  /* 1 */
  padding: 0;
  /* 1 */
  text-align: left;
  /* 3 */
}

/**
 * Modifier: center align all grid cells
 */

.Grid--alignCenter {
  text-align: center;
}

/**
 * Modifier: right align all grid cells
 */

.Grid--alignRight {
  text-align: right;
}

/**
 * Modifier: middle-align grid cells
 */

.Grid--alignMiddle > .Grid-cell {
  vertical-align: middle;
}

/**
 * Modifier: bottom-align grid cells
 */

.Grid--alignBottom > .Grid-cell {
  vertical-align: bottom;
}

/**
 * Modifier: gutters
 *
 * NOTE: this can trigger a horizontal scrollbar if the component is as wide as
 * the viewport. Use padding on a container, or `overflow-x:hidden` to protect
 * against it.
 */

.Grid--withGutter {
  margin: 0 -20px;
}

.Grid--withGutter > .Grid-cell {
  padding: 0 20px;
}

/* Grid cell
   ========================================================================== */

/**
 * No explicit width by default. Rely on combining `Grid-cell` with a dimension
 * utility or a component class that extends 'grid'.
 *
 * 1. Fundamentals of the non-float grid layout.
 * 2. Reset font size change made in `Grid`.
 * 3. Keeps content correctly aligned with the grid direction.
 * 4. Controls vertical positioning of units.
 * 5. Make cells full-width by default.
 */

.Grid-cell {
  box-sizing: border-box;
  display: inline-block;
  /* 1 */
  font-size: 1rem;
  /* 2 */
  margin: 0;
  padding: 0;
  text-align: left;
  /* 3 */
  vertical-align: top;
  /* 4 */
  width: 100%;
  /* 5 */
}

/**
 * Modifier: horizontally center one unit
 * Set a specific unit to be horizontally centered. Doesn't affect
 * any other units. Can still contain a child `Grid` object.
 */

.Grid-cell--center {
  display: block;
  margin: 0 auto;
}

/** @define Arrange */



/**
 * This component lets you lay out a row of cells in various ways. You can
 * specify whether a cell should be wide enough to fit its content, or take up
 * the remaining space in the row. It's also possible to give all cells an
 * equal width, and to control their vertical alignment.
 */

/**
 * 1. Protect against the component expanding beyond the confines of its
 *    container if properties affecting the box-model are applied to the
 *    component. Mainly necessary because of (5).
 * 2. Rely on table layout.
 * 3. Zero out the default spacing that might be on an element (e.g., `ul`).
 * 4. Make sure the component fills at least the full width of its parent.
 * 5. Reset the table-layout algorithm in case a component is nested.
 */

.Arrange {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 2 */
  margin: 0;
  /* 3 */
  min-width: 100%;
  /* 4 */
  padding: 0;
  /* 3 */
  table-layout: auto;
  /* 5 */
}

/**
 * There are two possible types of child. `sizeFill` will expand to fill all
 * of the remaining space not filled by `sizeFit` elements.
 *
 * 1. Zero out any default spacing that might be on an element (e.g., `li`);
 *    Margin has no effect when coupled with `display: table-cell`.
 * 2. All cells are top-aligned by default
 */

.Arrange-sizeFill,
.Arrange-sizeFit {
  display: table-cell;
  padding: 0;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Make sure the main content block expands to fill the remaining space.
 */

.Arrange-sizeFill {
  width: 100%;
}

/**
 * Where possible, protect against large images breaking the layout. Prevent them from
 * exceeding the width of the main content block by making them fluid.
 *
 * Only work for all browsers with the `Arrange--equally` variant. For Firefox
 * and IE to constrain image dimensions for other layouts, large images will
 * need their width set to `100%`.
 */

.Arrange-sizeFill img {
  height: auto;
  max-width: 100%;
}

/**
 * Defend against a side-effect of this layout pattern: images in
 * 'Arrange-sizeFit' cannot be fluid, otherwise they lose their ability to
 * provide size to a cell.
 */

.Arrange-sizeFit img {
  max-width: none !important;
  width: auto !important;
}

/* Vertical alignment modifiers
   ========================================================================== */

.Arrange--middle .Arrange-sizeFill,
.Arrange--middle .Arrange-sizeFit {
  vertical-align: middle;
}

.Arrange--bottom .Arrange-sizeFill,
.Arrange--bottom .Arrange-sizeFit {
  vertical-align: bottom;
}

/* Equal-width modifier
   ========================================================================== */

/**
 * This layout algorithm will create equal-width table cells, irrespective of
 * the width of their content.
 *
 * 1. The layout algorithm requires a set width to correctly calculate table
 *    cell width.
 */

.Arrange--equal {
  table-layout: fixed;
  width: 100%;
  /* 1 */
}

/**
 * Give the cells an equal width. This value ensures that Arrange is still 100%
 * wide when gutters are used in conjunctions with equal-width cells.
 *
 * It's recommended that only 'Arrange-sizeFill' be used for equal width cells.
 * Their inner images will automatically be responsive.
 */

.Arrange--equal > .Arrange-sizeFill,
.Arrange--equal > .Arrange-sizeFit {
  width: 1%;
}

/* Gutter modifier
   ========================================================================== */

/**
 * Add a gutter between cells
 *
 * NOTE: this can trigger a horizontal scrollbar if the component is as wide as
 * the viewport. Use padding on a container, or `overflow-x:hidden` to protect
 * against it.
 */

.Arrange--withGutter {
  margin: 0 -20px;
}

.Arrange--withGutter > .Arrange-sizeFit,
.Arrange--withGutter > .Arrange-sizeFill {
  padding: 0 20px;
}

/** @define FlexEmbed; use strict */

/**
 * Flexible media embeds
 *
 * For use with media embeds – such as videos, slideshows, or even images –
 * that need to retain a specific aspect ratio but adapt to the width of their
 * containing element.
 *
 * Based on: http://alistapart.com/article/creating-intrinsic-ratios-for-video
 */

.FlexEmbed {
  display: block;
  overflow: hidden;
  position: relative;
}

/**
 * The aspect-ratio hack is applied to an empty element because it allows
 * the component to respect `max-height`. Default aspect ratio is 1:1.
 */

.FlexEmbed-ratio {
  display: block;
  padding-bottom: 100%;
  width: 100%;
}

/**
 * Modifier: 3:1 aspect ratio
 */

.FlexEmbed-ratio--3by1 {
  padding-bottom: 33.33333333333333%;
}

/**
 * Modifier: 2:1 aspect ratio
 */

.FlexEmbed-ratio--2by1 {
  padding-bottom: 50%;
}

/**
 * Modifier: 16:9 aspect ratio
 */

.FlexEmbed-ratio--16by9 {
  padding-bottom: 56.25%;
}

/**
 * Modifier: 4:3 aspect ratio
 */

.FlexEmbed-ratio--4by3 {
  padding-bottom: 75%;
}

/**
 * Fit the content to the aspect ratio
 */

.FlexEmbed-content {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/** @define Button; use strict */



/**
 * The button classes are best applied to links, buttons, and submit inputs.
 * These components can be used in forms, as calls to action, or as part of the
 * general UI of the site/app.
 */

/**
 * 1. Corrects inability to style clickable `input` types in iOS.
 * 2. Normalize `box-sizing` across all elements that this component could be
 *    applied to.
 * 3. Inherit text color from ancestor.
 * 4. Inherit font styles from ancestor.
 * 5. Normalize `line-height`. For `input`, it can't be changed from `normal` in Firefox 4+.
 * 6. Prevent button text from being selectable.
 * 7. Make sure `input` will wrap text across multiple lines.
 */

.Button {
  -webkit-appearance: none;
  /* 1 */
  background: transparent;
  border-color: currentcolor;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  /* 2 */
  color: inherit;
  /* 3 */
  cursor: pointer;
  display: inline-block;
  font: inherit;
  /* 4 */
  line-height: normal;
  /* 5 */
  margin: 0;
  padding: 0.4em 0.75em;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* 6 */
  white-space: normal;
  /* 7 */
}

/**
 * Remove excess padding and border in Firefox 4+
 */

.Button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

.Button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/**
 * UI states
 */

.Button:hover,
.Button:focus,
.Button:active {
  text-decoration: none;
}

.Button:disabled,
.Button.is-disabled {
  cursor: default;
  opacity: 0.6;
}



.u-padding-h--small {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.u-padding-h--medium {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.u-padding-h--large {
  padding-right: 40px !important;
  padding-left: 40px !important;
}

.u-padding-v--small {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.u-padding-v--medium {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.u-padding-v--large {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.u-margin--small {
  margin: 10px !important;
}

.u-margin--medium {
  margin: 20px !important;
}

.u-margin--large {
  margin: 40px !important;
}

.u-marginTop--small {
  margin-top: 10px !important;
}

.u-marginTop--medium {
  margin-top: 20px !important;
}

.u-marginTop--large {
  margin-top: 40px !important;
}

.u-marginRight--small {
  margin-right: 10px !important;
}

.u-marginRight--medium {
  margin-right: 20px !important;
}

.u-marginRight--large {
  margin-right: 40px !important;
}

.u-marginBottom--small {
  margin-bottom: 10px !important;
}

.u-marginBottom--medium {
  margin-bottom: 20px !important;
}

.u-marginBottom--large {
  margin-bottom: 40px !important;
}

.u-marginLeft--small {
  margin-left: 10px !important;
}

.u-marginLeft--medium {
  margin-left: 20px !important;
}

.u-marginLeft--large {
  margin-left: 40px !important;
}

/*:root {
}*/

@media (min-width: 560px) {
  /**
   * Display-type utilities
   */

  .u-sm-block {
    display: block !important;
  }

  .u-sm-hidden {
    display: none !important;
  }

  /**
   * Completely remove from the flow but leave available to screen readers.
   */

  .u-sm-hiddenVisually {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
  }

  .u-sm-inline {
    display: inline !important;
  }

  /**
   * 1. Fix for Firefox bug: an image styled `max-width:100%` within an
   * inline-block will display at its default size, and not limit its width to
   * 100% of an ancestral container.
   */

  .u-sm-inlineBlock {
    display: inline-block !important;
    max-width: 100%;
    /* 1 */
  }

  .u-sm-table {
    display: table !important;
  }

  .u-sm-tableCell {
    display: table-cell !important;
  }

  .u-sm-tableRow {
    display: table-row !important;
  }
}

@media (min-width: 768px) {
  /**
   * Display-type utilities
   */

  .u-md-block {
    display: block !important;
  }

  .u-md-hidden {
    display: none !important;
  }

  /**
   * Completely remove from the flow but leave available to screen readers.
   */

  .u-md-hiddenVisually {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
  }

  .u-md-inline {
    display: inline !important;
  }

  /**
   * 1. Fix for Firefox bug: an image styled `max-width:100%` within an
   * inline-block will display at its default size, and not limit its width to
   * 100% of an ancestral container.
   */

  .u-md-inlineBlock {
    display: inline-block !important;
    max-width: 100%;
    /* 1 */
  }

  .u-md-table {
    display: table !important;
  }

  .u-md-tableCell {
    display: table-cell !important;
  }

  .u-md-tableRow {
    display: table-row !important;
  }
}

@media (min-width: 1024px) {
  /**
   * Display-type utilities
   */

  .u-lg-block {
    display: block !important;
  }

  .u-lg-hidden {
    display: none !important;
  }

  /**
   * Completely remove from the flow but leave available to screen readers.
   */

  .u-lg-hiddenVisually {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
  }

  .u-lg-inline {
    display: inline !important;
  }

  /**
   * 1. Fix for Firefox bug: an image styled `max-width:100%` within an
   * inline-block will display at its default size, and not limit its width to
   * 100% of an ancestral container.
   */

  .u-lg-inlineBlock {
    display: inline-block !important;
    max-width: 100%;
    /* 1 */
  }

  .u-lg-table {
    display: table !important;
  }

  .u-lg-tableCell {
    display: table-cell !important;
  }

  .u-lg-tableRow {
    display: table-row !important;
  }
}

/** @define Header; */



.Header-mainLogo {
  top: -30px;
  z-index: 100;
  font-size: 80px;
}

.Header-mainLogo .Logo {
  display: block;
}

@media (min-width: 320px) {
  .Header-mainLogo {
    font-size: 100px;
  }
}

@media (min-width: 560px) {
  .Header-mainLogo {
    font-size: 120px;
  }
}

@media (min-width: 768px) {
  .Header-mainLogo {
    font-size: 160px;
  }
}

/** @define Footer; */



.Footer,
.Footer a {
  color: #fff !important;
}

.Footer-content {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.Footer-menu--social {
  font-size: 52px;
  line-height: 1;
}

.Footer-logo {
  box-shadow: 1px 1px 10px rgba(0,0,0,.5);
}

.Footer .menu-item {
  margin-right: 20px;
  margin-left: 20px;
}

/* Generated by grunt-webfont */

/** @define Icon; use strict */

@font-face {
  font-family: "icons";
  src: url("build/fonts/icons.eot?d32748b11900846c93af1d1059f05ea9");
  src: url("build/fonts/icons.eot?#iefix") format("embedded-opentype"),
		url("build/fonts/icons.woff?d32748b11900846c93af1d1059f05ea9") format("woff"),
		url("build/fonts/icons.ttf?d32748b11900846c93af1d1059f05ea9") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.Icon {
  font-family: "icons";
  display: inline-block;
  vertical-align: baseline;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Icons */

.Icon--facebook:before {
  content: "\f101";
}

.Icon--fax:before {
  content: "\f102";
}

.Icon--help:before {
  content: "\f103";
}

.Icon--instagram:before {
  content: "\f104";
}

.Icon--line-heart:before {
  content: "\f105";
}

.Icon--phone:before {
  content: "\f106";
}

.Icon--smartphone:before {
  content: "\f107";
}

.Icon--twitter:before {
  content: "\f108";
}

/** @define Icon; use strict */



/** @define Area; use strict */



.Area--meta {
  background-color: #2f2f2f;
}

.Area--header {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #fff;
}

.Area--main {
  padding-top: 40px;
  padding-bottom: 40px;
}

.Area--purple {
  background-color: #865ba2;
  color: #fff;
}

.Area--footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url('/wp-content/themes/ybb-theme/assets/images/layout/background-footer.jpg');
  background-size: cover;
}

.Area--main h1,
.Area--main h2,
.Area--main h3,
.Area--main h4,
.Area--main h5 {
  margin-bottom: .5em;
}

.Area--main p {
  margin-bottom: 1.25em;
}

.Area--main p:last-child {
  margin-bottom: 0;
}

.Area-content {
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/** @define Logo; use strict */

/*:root {
}*/

.Logo {
  position: relative;
  display: inline-block;
  height: 1em;
  /* keep height constant regardless of innards */
  margin: 0;
  /* reset */
  vertical-align: middle;
  /* not baseline, so we align up _and_ down */
}

.Logo > * {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0 !important;
  font-size: 0;
  text-indent: -9999px;
  /* image replacement */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  direction: ltr;
  /* make text-indent play nice */
}

/** @define Banner; */

/*:root {
}*/

.Banner > img {
  display: block;
}

.Banner-sliderWrap {
  position: relative;
  box-shadow: inset 1px 1px 10px rgba(0,0,0,.5);
}

.Banner--slider .ls-container {
  background-image: url('/wp-content/themes/ybb-theme/assets/images/layout/background-slider.jpg');
  background-size: cover;
  background-position: center;
}

.Banner--product {
  background-image: url('/wp-content/themes/ybb-theme/assets/images/layout/background-hero.jpg');
  background-size: cover;
  background-position: center;
}

.Banner .FlexEmbed-content > img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.Banner-menu {
  position: absolute;
  bottom: 15px;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

.Banner-menuItems {
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

.Banner-menuItem {
  border-right: 1px solid #865ba2;
  border-left: 1px solid #865ba2;
  cursor: pointer;
}

.Banner-menuItems div:nth-child(2) .Banner-menuItem {
  border-right: 0;
  border-left: 0;
}

.Banner-menuItem.is-active,
.Banner-menuItem:hover {
  background-color: #865ba2;
  color: #fff;
}

.Banner-menuItem:target {
  background-color: #865ba2;
  color: #fff;
}

.Banner-text {
  display: none;
}

.Banner-text.is-active {
  display: block;
}

/** @define Menu; */



.Menu {
  display: inline-block;
}

.Menu--header .Menu-link {
  color: #2f2f2f;
}

.Menu--header .Menu-link:hover {
  color: #865ba2;
}

.Menu .menu-item {
  margin-left: 10px;
}

.Menu-link {
  display: block;
}

.Menu--meta .Menu-link {
  color: #fff;
}

.Menu--meta .Menu-link:hover {
  text-decoration: underline;
}

/** @define Button; use strict */



.Button {
  color: #fff;
  border: 0;
  border-radius: .2em;
}

.Button:hover,
.Button:visited {
  color: #fff;
}

.Button--green {
  background-color: #7cc243;
}

.Button--green:hover,
.Button--green:active {
  background-color: #865ba2;
}

.Button--purple {
  background-color: #865ba2;
}

.Button--purple:hover,
.Button--purple:active {
  background-color: #7cc243;
}

.Button--greenArrowRight {
  padding-right: .3em;
  background-color: #7cc243;
  border-radius: .2em 0 0 .2em;
}

.Button--greenArrowRight:after {
  position: absolute;
  left: 100%;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.1em 0 1.1em 1.2em;
  border-color: transparent transparent transparent #7cc243;
  content: '';
}

/** @define Meta; use strict */



.Meta {
  line-height: 28px;
}

/** @define FlexSlider; use strict */



/** @define FlexSlider; use strict */



/*
 * FIXME: File Paths!
 */

@font-face {
  font-family: "icons";
  src: url('flexslider/fonts/flexslider-icon.eot');
  src: url('flexslider/fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
    url('flexslider/fonts/flexslider-icon.woff') format('woff'),
    url('flexslider/fonts/flexslider-icon.ttf') format('truetype'),
    url('flexslider/fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/** !define FlexSlider; use strict */

.FlexSlider-container a:hover,
.FlexSlider-slider a:hover,
.FlexSlider-container a:focus,
.FlexSlider-slider a:focus {
  outline: none;
}

/*
 * REVIEW: Unprefixed .FlexSlider-slides!
 */

.FlexSlider-slides,
.FlexSlider-slides > li,
.FlexSlider-controlNav,
.FlexSlider-directionNav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.FlexSlider-pauseplay span {
  text-transform: capitalize;
}

/*
 * FIXME: use normalization;
 */

.FlexSliderPagination,
.FlexSliderPagination-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.FlexSliderThumbnails,
.FlexSliderThumbnails-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.FlexSliderDirection {
  margin: 0;
  padding: 0;
  list-style: none;
}

/** !define FlexSlider; use strict */

.FlexSlider {
  margin: 0;
  padding: 0;
}

/*
 * [1] HACK: Fixes flickering of 3dtranslated elements in Webkit variants,
 */

.FlexSlider .FlexSlider-slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
  /* [1] */
}

.FlexSlider .FlexSlider-slides img {
  width: 100%;
  display: block;
}

/*
 * Clearfix for the .FlexSlider-slides element
 */

.FlexSlider .FlexSlider-slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .FlexSlider .FlexSlider-slides {
  display: block;
}

* html .FlexSlider .FlexSlider-slides {
  height: 1%;
}

/*
 * No JavaScript Fallback
 * If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load
 */

.no-js .FlexSlider .FlexSlider-slides > li:first-child {
  display: block;
}

/** @define FlexSlider */

.FlexSlider {
  position: relative;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  zoom: 1;
}

.FlexSlider .FlexSlider-slides {
  zoom: 1;
}

.FlexSlider .FlexSlider-slides img {
  height: auto;
}

/*
 * .FlexSlider-viewport
 */

.FlexSlider-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.FlexSlider-viewport.loading {
  max-height: 300px;
}

/*
 * .FlexSlider-carousel
 * FIXME: magic number and double configuration with {itemMargin: 5}
 */

.FlexSlider-carousel li {
  margin-right: 5px;
}

/*
 * .FlexSlider-directionNav
 */

.FlexSlider-directionNav {
  *height: 0;
  /* FIXME */
}

.FlexSlider-directionNav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: #03c;
  text-shadow: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.FlexSlider-directionNav a:before {
  font-family: "icons";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: #03c;
  text-shadow: none;
}

.FlexSlider-directionNav a.FlexSlider-next:before {
  content: '\f002';
}

.FlexSlider-directionNav .FlexSlider-prev {
  left: -50px;
}

.FlexSlider-directionNav .FlexSlider-next {
  right: -50px;
  text-align: right;
}

.FlexSlider:hover .FlexSlider-directionNav .FlexSlider-prev {
  opacity: 0.7;
  left: 10px;
}

.FlexSlider:hover .FlexSlider-directionNav .FlexSlider-prev:hover {
  opacity: 1;
}

.FlexSlider:hover .FlexSlider-directionNav .FlexSlider-next {
  opacity: 0.7;
  right: 10px;
}

.FlexSlider:hover .FlexSlider-directionNav .FlexSlider-next:hover {
  opacity: 1;
}

.FlexSlider-directionNav .FlexSlider-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  /* FIXME */
  cursor: default;
}

/*
 * .FlexSlider-controlNav
 */

.FlexSlider-controlNav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}

.FlexSlider-controlNav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/** @define FlexSlider; use strict */

@media screen and (max-width: 860px) {
  .FlexSlider-directionNav .FlexSlider-prev {
    opacity: 1;
    left: 10px;
  }

  .FlexSlider-directionNav .FlexSlider-next {
    opacity: 1;
    right: 10px;
  }
}

/** @define FlexSliderPagination; use strict */



.FlexSliderPagination {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}

.FlexSliderPagination-item {
  margin: 3px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.FlexSliderPagination-link {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 20px;
  border: 1px solid #03c;
  background: transparent;
  text-indent: -9999px;
  cursor: pointer;
}

.FlexSliderPagination-link:hover:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  margin: 1px;
  border-radius: 20px;
  background: #03c;
}

.FlexSliderPagination-link.is-active {
  background: #03c;
  cursor: default;
}

/** @define FlexSliderThumbnails; use strict */



.FlexSliderThumbnails {
  margin: 0;
  position: static;
  overflow: hidden;
}

.FlexSliderThumbnails-item {
  width: 25%;
  float: left;
  margin: 0;
}

.FlexSliderThumbnails-link {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.FlexSliderThumbnails-link:hover {
  opacity: 1;
}

.FlexSliderThumbnails-link.is-active {
  opacity: 1;
  cursor: default;
}

/** !define FlexSliderDirection; use strict */



.FlexSliderDirection {
  *height: 0;
  /* FIXME */
}

.FlexSliderDirection-link {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: #03c;
  text-shadow: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.FlexSliderDirection-link:before {
  font-family: "icons";
  font-size: 40px;
  display: inline-block;
  color: #03c;
  text-shadow: none;
}

.FlexSliderDirection-link--prev:before {
  content: '\f001';
}

.FlexSliderDirection-link--next:before {
  content: '\f002';
}

.FlexSliderDirection-link--prev {
  left: -50px;
}

.FlexSliderDirection-link--next {
  right: -50px;
  text-align: right;
}

.FlexSlider:hover .FlexSliderDirection-link--prev {
  opacity: 0.7;
  left: 10px;
}

.FlexSlider:hover .FlexSliderDirection-link--prev:hover {
  opacity: 1;
}

.FlexSlider:hover .FlexSliderDirection-link--next {
  opacity: 0.7;
  right: 10px;
}

.FlexSlider:hover .FlexSliderDirection-link--next:hover {
  opacity: 1;
}

.FlexSliderDirection-link.is-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  /* FIXME */
  cursor: default;
}

/** @define FlexSliderPausePlay; use-strict */



.FlexSliderPausePlay-link {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #03c;
}

.FlexSliderPausePlay-link:before {
  font-family: "icons";
  font-size: 20px;
  display: inline-block;
}

.FlexSliderPausePlay-link:hover {
  opacity: 1;
}

.FlexSliderPausePlay-link.is-paused:before {
  content: '\f004';
}

.FlexSliderPausePlay-link.is-playing:before {
  content: '\f003';
}

/** @define Mailchimp; use strict */



.Mailchimp {
  display: inline-block;
  font-size: 0;
  text-align: center;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.5);
}

.Mailchimp-input,
.Mailchimp-submit {
  display: inline-block;
  padding: .5em .7em;
  font-size: 14px;
  border: 0;
}

.Mailchimp-input {
  color: #000;
  border-radius: 3px 0 0 3px;
}

.Mailchimp-submit {
  color: #fff;
  line-height: 1.4;
  background-color: #7cc243;
  border-radius: 0 3px 3px 0;
}

.Mailchimp-submit:hover {
  background-color: #865ba2;
}

/**
 * Theme definition
 *
 * This defines the theme in fundamental terms, but not how it is applied to
 * the components. That is done in `theme-map.css`.
 */

/**
 * Breakpoints
 */

/**
 * Urls
 */



/**
 * Colors
 */



/**
 * Fonts
 */



/**
 * Spacing
 */



/**
 * Z-Index Scale
 */



/**
 * base
 */



/**
 * components-arrange
 */



/**
 * components-grid
 */



/**
 * Z-Index Applications
 */



/**
 * Layout
 */

/**
 * Components
 */

/*
 * FlexSlider component
 */





/*
* Theme Name: YBB Theme
* Author: Nils Schönwald
* Author URI: http://www.schoenwald-media.de/
* Description: Theme für Yourbiobrands.de
* Version: 1.0.0
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font: 16px/1.3 'Open Sans', sans-serif;
}

body {
  background-color: #fff;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

/* Fluid images. */

img {
  max-width: 100%;
  height: auto;
}

.ybb-iframe {
  width: 100%;
  border: 0;
  overflow: hidden;
}

/*
 * Fonts
 */



a {
  text-decoration: none;
  color: #865ba2;
}

/* reset system css */

li a.active {
  color: inherit;
}

a:hover {
  color: #7cc243;
}

a:visited {
  color: #865ba2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family: "TheSerifB",Georgia,"Times New Roman",Times,serif;*/
  font-style: normal;
  font-weight: 800;
}

h1,
.u-fontAlpha {
  font-size: 32px;
}

h2,
.u-fontBeta {
  font-size: 24px;
}

h3,
.u-fontGamma {
  font-size: 20px;
}

h4,
.u-fontDelta {
  font-size: 18px;
}

.u-fontNormal {
  font: 16px/1.3 'Open Sans', sans-serif;
}

.u-fontMilli {
  font-size: 14px;
}

.u-fontMicro {
  font-size: 12px;
}

.u-fontNano {
  font-size: 10px;
}

.u-fontPiko {
  font-size: 8px;
}

@media (min-width: 320px) {
  .u-xs-fontAlpha {
    font-size: 32px;
  }

  .u-xs-fontBeta {
    font-size: 24px;
  }

  .u-xs-fontGamma {
    font-size: 20px;
  }

  .u-xs-fontDelta {
    font-size: 18px;
  }

  .u-xs-fontNormal {
    font: 16px/1.3 'Open Sans', sans-serif;
  }

  .u-xs-fontMilli {
    font-size: 14px;
  }

  .u-xs-fontMicro {
    font-size: 12px;
  }

  .u-xs-fontNano {
    font-size: 10px;
  }

  .u-xs-fontPiko {
    font-size: 8px;
  }
}

@media (min-width: 560px) {
  .u-sm-fontAlpha {
    font-size: 32px;
  }

  .u-sm-fontBeta {
    font-size: 24px;
  }

  .u-sm-fontGamma {
    font-size: 20px;
  }

  .u-sm-fontDelta {
    font-size: 18px;
  }

  .u-sm-fontNormal {
    font: 16px/1.3 'Open Sans', sans-serif;
  }

  .u-sm-fontMilli {
    font-size: 14px;
  }

  .u-sm-fontMicro {
    font-size: 12px;
  }

  .u-sm-fontNano {
    font-size: 10px;
  }

  .u-sm-fontPiko {
    font-size: 8px;
  }
}

@media (min-width: 768px) {
  .u-md-fontAlpha {
    font-size: 32px;
  }

  .u-md-fontBeta {
    font-size: 24px;
  }

  .u-md-fontGamma {
    font-size: 20px;
  }

  .u-md-fontDelta {
    font-size: 18px;
  }

  .u-md-fontNormal {
    font: 16px/1.3 'Open Sans', sans-serif;
  }

  .u-md-fontMilli {
    font-size: 14px;
  }

  .u-md-fontMicro {
    font-size: 12px;
  }

  .u-md-fontNano {
    font-size: 10px;
  }

  .u-md-fontPiko {
    font-size: 8px;
  }
}

@media (min-width: 1024px) {
  .u-lg-fontAlpha {
    font-size: 32px;
  }

  .u-lg-fontBeta {
    font-size: 24px;
  }

  .u-lg-fontGamma {
    font-size: 20px;
  }

  .u-lg-fontDelta {
    font-size: 18px;
  }

  .u-lg-fontNormal {
    font: 16px/1.3 'Open Sans', sans-serif;
  }

  .u-lg-fontMilli {
    font-size: 14px;
  }

  .u-lg-fontMicro {
    font-size: 12px;
  }

  .u-lg-fontNano {
    font-size: 10px;
  }

  .u-lg-fontPiko {
    font-size: 8px;
  }
}

/*
 * Color Utilities
 */

.u-colorWhite {
  color: #fff !important;
}

.u-colorBlack {
  color: #000 !important;
}

.u-colorBlackDark {
  color: #111213 !important;
}

.u-colorBlackLight {
  color: #2f2f2f !important;
}

.u-colorGray {
  color: #90969a !important;
}

.u-colorGrayLight {
  color: #bebfbf !important;
}

.u-colorGreen {
  color: #7cc243 !important;
}

.u-textUppercase {
  text-transform: uppercase;
}

.u-textSmallCaps {
  font-variant: small-caps;
}

/*
 * WordPress base styles
 */

.alignnone,
a img.alignnone {
  margin-right: 2em;
}

.alignnone,
.alignleft,
.alignright,
a img.alignleft,
a img.alignright,
a img.aligncenter {
  margin-top: .5em;
  margin-bottom: 1.5em;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignright,
a img.alignright {
  float: right;
  margin-left: 2em;
}

.alignleft,
a img.alignleft {
  float: left;
  margin-right: 2em;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  max-width: 100%;
  padding: 0;
  text-align: center;
}

.wp-caption img {
  display: block;
  border: 0 none;
  height: auto;
  margin: 0;
  width: 100%;
  padding: 0;
}

.wp-caption p.wp-caption-text {
  background: #ddd;
  font-size: 1em;
  margin: 0;
  padding: .5em;
}

/*
 * Layout
 */

.l-imageRound {
  border-radius: 9999px;
  overflow: hidden;
}

.l-textShadow {
  text-shadow: #000 1px 1px 10px;
}

.l-dropShadow {
  box-shadow: 1px 1px 10px rgba(0,0,0,.5);
}

/*
 * Shame
 */

@media (min-width: 320px) {
  .menu-item {
    display: inline-block;
  }
}

.Block-quote {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.Block-image {
  max-width: 180px;
}