/** @define Banner; */

/*:root {
}*/

.Banner {
}

.Banner > img {
  display: block;
}

.Banner-sliderWrap {
  position: relative;
  box-shadow: inset 1px 1px 10px rgba(0,0,0,.5);
}

.Banner--slider .ls-container {
  background-image: url('var(--Url-image)/layout/background-slider.jpg');
  background-size: cover;
  background-position: center;
}

.Banner--product {
  background-image: url('var(--Url-image)/layout/background-hero.jpg');
  background-size: cover;
  background-position: center;
}

.Banner .FlexEmbed-content > img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%) translateY(-50%);
}

.Banner-menu {
  position: absolute;
  bottom: 15px;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

.Banner-menuItems {
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

.Banner-menuItem {
  border-right: 1px solid var(--Color-purple);
  border-left: 1px solid var(--Color-purple);
  cursor: pointer;
}

.Banner-menuItems div:nth-child(2) .Banner-menuItem {
  border-right: 0;
  border-left: 0;
}

.Banner-menuItem.is-active,
.Banner-menuItem:hover {
  background-color: var(--Color-purple);
  color: var(--Color-white)
}

.Banner-menuItem:target {
  background-color: var(--Color-purple);
  color: var(--Color-white)
}

.Banner-text {
  display: none;
}

.Banner-text.is-active {
  display: block;
}
