/** @define Logo; use strict */

/*:root {
}*/

.Logo {
  position: relative;
  display: inline-block;
  height: 1em; /* keep height constant regardless of innards */
  margin: 0; /* reset */
  vertical-align: middle; /* not baseline, so we align up _and_ down */
}

.Logo > * {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0 !important;
  font-size: 0;
  text-indent: -9999px; /* image replacement */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  direction: ltr; /* make text-indent play nice */
}
