/** @define Menu; */

:root {
  --Menu-header-link-color: value;
  --Menu-header-link-color-hover: value;
}

.Menu {
  display: inline-block;
}

.Menu--header .Menu-link {
  color: var(--Menu-header-link-color);
}

.Menu--header .Menu-link:hover {
  color: var(--Menu-header-link-color-hover);
}

.Menu .menu-item {
  margin-left: 10px;
}

.Menu-link {
  display: block;
}

.Menu--meta .Menu-link {
  color: #fff;
}

.Menu--meta .Menu-link:hover {
  text-decoration: underline;
}
