/** @define Footer; */

:root {
  --Footer-color: initial;
}

.Footer,
.Footer a {
  color: var(--Footer-color) !important;
}

.Footer-content {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.Footer-menu--social {
  font-size: 52px;
  line-height: 1;
}

.Footer-logo {
  box-shadow: 1px 1px 10px rgba(0,0,0,.5);
}

.Footer .menu-item {
  margin-right: 20px;
  margin-left: 20px;
}
