/** @define Button; use strict */

:root {
  --Button-variable: 0;
}

.Button {
  color: var(--Color-white);
  border: 0;
  border-radius: .2em;
}

.Button:hover,
.Button:visited {
  color: var(--Color-white);
}

.Button--green {
  background-color: var(--Color-green);
}

.Button--green:hover,
.Button--green:active {
  background-color: var(--Color-purple);
}

.Button--purple {
  background-color: var(--Color-purple);
}

.Button--purple:hover,
.Button--purple:active {
  background-color: var(--Color-green);
}

.Button--greenArrowRight {
  padding-right: .3em;
  background-color: var(--Color-green);
  border-radius: .2em 0 0 .2em;
}

.Button--greenArrowRight:after {
  position: absolute;
  left: 100%;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.1em 0 1.1em 1.2em;
  border-color: transparent transparent transparent var(--Color-green);
  content: '';
}
