/*
* Theme Name: YBB Theme
* Author: Nils Schönwald
* Author URI: http://www.schoenwald-media.de/
* Description: Theme für Yourbiobrands.de
* Version: 1.0.0
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font: var(--font-base);
}

body {
  background-color: var(--background-base);
  color: var(--color-base);
  -webkit-font-smoothing: antialiased;
}

/* Fluid images. */
img {
  max-width: 100%;
  height: auto;
}

.ybb-iframe {
  width: 100%;
  border: 0;
  overflow: hidden;
}
