/*
 * Shame
 */

@media (--xs-viewport) {
  .menu-item {
    display: inline-block;
  }
}

.Block-quote {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.Block-image {
  max-width: 180px;
}
