/**
 * base
 */

:root {
  --background-base: var(--Color-white);
  --color-base: var(--Color-black);
  --font-base: var(--font-size)/var(--line-height) var(--font-family);
  --link-color-base: var(--Color-purple);
  --link-color-base-hover: var(--Color-green);
  --link-color-base-visited: var(--link-color-base);
}

/**
 * components-arrange
 */

:root {
  --Arrange-gutter-size: var(--space-large-px);
}

/**
 * components-grid
 */

:root {
  --Grid-gutter-size: var(--space-large-px);
}

/**
 * Z-Index Applications
 */
:root {
  --Header-mainLogo-z: var(--z-index-1);
}

/**
 * Layout
 */

:root {
}

/**
 * Components
 */

/*
 * FlexSlider component
 */

:root {
  --FlexSlider-margin: 0;
  --FlexSlider-font-name: "icons";
}

:root {
  --SuitcssUtils-space-small:  var(--space-small-px);
  --SuitcssUtils-space-medium: var(--space-medium-px);
  --SuitcssUtils-space-large:  var(--space-large-px);

  --Area-meta-background-color: var(--Color-black-light);
  --Area-header-background-color: var(--Color-white);
  --Area-background-purple: var(--Color-purple);
  --Area-purple-background-color: var(--Color-purple);
  --Area-purple-color: var(--Color-white);
  --Area-space: var(--space-large-px);

  --Header-title-color: var(--Color-black);

  --Menu-header-link-color: var(--Color-black-light);
  --Menu-header-link-color-hover: var(--Color-purple);

  --Footer-color: var(--Color-white);
  --Footer-background-color: var(--Color-purple);

}
