/**
 * Theme definition
 *
 * This defines the theme in fundamental terms, but not how it is applied to
 * the components. That is done in `theme-map.css`.
 */

/**
 * Breakpoints
 */

@custom-media --xs-viewport (min-width: 320px);
@custom-media --sm-viewport (min-width: 560px);
@custom-media --md-viewport (min-width: 768px);
@custom-media --lg-viewport (min-width: 1024px);

@custom-media --retina only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx), only screen and (-webkit-min-device-pixel-ratio: 2);

/**
 * Urls
 */
:root{
  --Url-theme: /wp-content/themes/ybb-theme;
  --Url-image: var(--Url-theme)/assets/images;
}

/**
 * Colors
 */

:root {
  --Color-black:       #000;
  --Color-black-dark:  #111213;
  --Color-black-light: #2f2f2f;
  --Color-gray:        #90969a;
  --Color-gray-light:  #bebfbf;
  --Color-white:       #fff;

  --Color-purple:      #865ba2;
  --Color-green:       #7cc243;
}

/**
 * Fonts
 */

:root {
  --font-size: 16px;
  --font-family: 'Open Sans', sans-serif;
  --line-height: 1.3;
}

/**
 * Spacing
 */

:root {
  --space-small-px:  10px;
  --space-medium-px: 20px;
  --space-large-px:  40px;
}

/**
 * Z-Index Scale
 */

:root{
  --z-index-0:    -1;
  --z-index-1:   100;
  --z-index-2:   200;
  --z-index-3:   300;
  --z-index-4:   400;
  --z-index-5:   500;
  --z-index-6:   600;
  --z-index-7:   700;
  --z-index-8:   800;
  --z-index-9:   900;
  --z-index-10: 1000;
}
