:root {
  --font-size-alpha:  32px;
  --font-size-beta:   24px;
  --font-size-gamma:  20px;
  --font-size-delta:  18px;
  --font-size-normal: var(--font-base);
  --font-size-milli:  14px;
  --font-size-micro:  12px;
  --font-size-nano:   10px;
  --font-size-piko:    8px;
}

a {
  text-decoration: none;
  color: var(--link-color-base);
}

/* reset system css */
li a.active {
  color: inherit;
}

a:hover {
  color: var(--link-color-base-hover);
}

a:visited {
  color: var(--link-color-base-visited);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family: "TheSerifB",Georgia,"Times New Roman",Times,serif;*/
  font-style: normal;
  font-weight: 800;
}

h1,
.u-fontAlpha {
  font-size: var(--font-size-alpha);
}

h2,
.u-fontBeta {
  font-size: var(--font-size-beta);
}

h3,
.u-fontGamma {
  font-size: var(--font-size-gamma);
}

h4,
.u-fontDelta {
  font-size: var(--font-size-delta);
}

.u-fontNormal {
  font-size: var(--font-size-normal);
}

.u-fontMilli {
  font-size: var(--font-size-milli);
}

.u-fontMicro {
  font-size: var(--font-size-micro);
}

.u-fontNano {
  font-size: var(--font-size-nano);
}

.u-fontPiko {
  font-size: var(--font-size-piko);
}

@media (--xs-viewport) {
  .u-xs-fontAlpha {
    font-size: var(--font-size-alpha);
  }

  .u-xs-fontBeta {
    font-size: var(--font-size-beta);
  }

  .u-xs-fontGamma {
    font-size: var(--font-size-gamma);
  }

  .u-xs-fontDelta {
    font-size: var(--font-size-delta);
  }

  .u-xs-fontNormal {
    font: var(--font-base);
  }

  .u-xs-fontMilli {
    font-size: var(--font-size-milli);
  }

  .u-xs-fontMicro {
    font-size: var(--font-size-micro);
  }

  .u-xs-fontNano {
    font-size: var(--font-size-nano);
  }

  .u-xs-fontPiko {
    font-size: var(--font-size-piko);
  }
}

@media (--sm-viewport) {
  .u-sm-fontAlpha {
    font-size: var(--font-size-alpha);
  }

  .u-sm-fontBeta {
    font-size: var(--font-size-beta);
  }

  .u-sm-fontGamma {
    font-size: var(--font-size-gamma);
  }

  .u-sm-fontDelta {
    font-size: var(--font-size-delta);
  }

  .u-sm-fontNormal {
    font: var(--font-base);
  }

  .u-sm-fontMilli {
    font-size: var(--font-size-milli);
  }

  .u-sm-fontMicro {
    font-size: var(--font-size-micro);
  }

  .u-sm-fontNano {
    font-size: var(--font-size-nano);
  }

  .u-sm-fontPiko {
    font-size: var(--font-size-piko);
  }
}

@media (--md-viewport) {
  .u-md-fontAlpha {
    font-size: var(--font-size-alpha);
  }

  .u-md-fontBeta {
    font-size: var(--font-size-beta);
  }

  .u-md-fontGamma {
    font-size: var(--font-size-gamma);
  }

  .u-md-fontDelta {
    font-size: var(--font-size-delta);
  }

  .u-md-fontNormal {
    font: var(--font-base);
  }

  .u-md-fontMilli {
    font-size: var(--font-size-milli);
  }

  .u-md-fontMicro {
    font-size: var(--font-size-micro);
  }

  .u-md-fontNano {
    font-size: var(--font-size-nano);
  }

  .u-md-fontPiko {
    font-size: var(--font-size-piko);
  }
}

@media (--lg-viewport) {
  .u-lg-fontAlpha {
    font-size: var(--font-size-alpha);
  }

  .u-lg-fontBeta {
    font-size: var(--font-size-beta);
  }

  .u-lg-fontGamma {
    font-size: var(--font-size-gamma);
  }

  .u-lg-fontDelta {
    font-size: var(--font-size-delta);
  }

  .u-lg-fontNormal {
    font: var(--font-base);
  }

  .u-lg-fontMilli {
    font-size: var(--font-size-milli);
  }

  .u-lg-fontMicro {
    font-size: var(--font-size-micro);
  }

  .u-lg-fontNano {
    font-size: var(--font-size-nano);
  }

  .u-lg-fontPiko {
    font-size: var(--font-size-piko);
  }
}
/*
 * Color Utilities
 */

.u-colorWhite {
  color: var(--Color-white) !important;
}

.u-colorBlack {
  color: var(--Color-black) !important;
}

.u-colorBlackDark {
  color: var(--Color-black-dark) !important;
}

.u-colorBlackLight {
  color: var(--Color-black-light) !important;
}

.u-colorGray {
  color: var(--Color-gray) !important;
}

.u-colorGrayLight {
  color: var(--Color-gray-light) !important;
}

.u-colorGreen {
  color: var(--Color-green) !important;
}



.u-textUppercase {
  text-transform: uppercase;
}

.u-textSmallCaps {
  font-variant: small-caps;
}
