/*
 * WordPress base styles
 */

.alignnone, a img.alignnone {
  margin-right: 2em;
}

.alignnone,
.alignleft,
.alignright,
a img.alignleft,
a img.alignright,
a img.aligncenter {
  margin-top: .5em;
  margin-bottom: 1.5em;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignright,
a img.alignright  {
  float:right;
  margin-left: 2em;
}

.alignleft,
a img.alignleft {
  float: left;
  margin-right: 2em;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.wp-caption {
  max-width: 100%;
  padding: 0;
  text-align: center;
}

.wp-caption img {
  display: block;
  border: 0 none;
  height: auto;
  margin: 0;
  width: 100%;
  padding: 0;
}

.wp-caption p.wp-caption-text {
  background: #ddd;
  font-size: 1em;
  margin: 0;
  padding: .5em;
}
