:root {
  --SuitcssUtils-space-small:  10px;
  --SuitcssUtils-space-medium: 20px;
  --SuitcssUtils-space-large:  25px;
}

.u-padding-h--small {
  padding-right: var(--SuitcssUtils-space-small) !important;
  padding-left: var(--SuitcssUtils-space-small) !important;
}

.u-padding-h--medium {
  padding-right: var(--SuitcssUtils-space-medium) !important;
  padding-left: var(--SuitcssUtils-space-medium) !important;
}

.u-padding-h--large {
  padding-right: var(--SuitcssUtils-space-large) !important;
  padding-left: var(--SuitcssUtils-space-large) !important;
}

.u-padding-v--small {
  padding-top: var(--SuitcssUtils-space-small) !important;
  padding-bottom: var(--SuitcssUtils-space-small) !important;
}

.u-padding-v--medium {
  padding-top: var(--SuitcssUtils-space-medium) !important;
  padding-bottom: var(--SuitcssUtils-space-medium) !important;
}

.u-padding-v--large {
  padding-top: var(--SuitcssUtils-space-large) !important;
  padding-bottom: var(--SuitcssUtils-space-large) !important;
}

.u-margin--small {
  margin: var(--SuitcssUtils-space-small) !important;
}

.u-margin--medium {
  margin: var(--SuitcssUtils-space-medium) !important;
}

.u-margin--large {
  margin: var(--SuitcssUtils-space-large) !important;
}

.u-marginTop--small {
  margin-top: var(--SuitcssUtils-space-small) !important;
}

.u-marginTop--medium {
  margin-top: var(--SuitcssUtils-space-medium) !important;
}

.u-marginTop--large {
  margin-top: var(--SuitcssUtils-space-large) !important;
}

.u-marginRight--small {
  margin-right: var(--SuitcssUtils-space-small) !important;
}

.u-marginRight--medium {
  margin-right: var(--SuitcssUtils-space-medium) !important;
}

.u-marginRight--large {
  margin-right: var(--SuitcssUtils-space-large) !important;
}

.u-marginBottom--small {
  margin-bottom: var(--SuitcssUtils-space-small) !important;
}

.u-marginBottom--medium {
  margin-bottom: var(--SuitcssUtils-space-medium) !important;
}

.u-marginBottom--large {
  margin-bottom: var(--SuitcssUtils-space-large) !important;
}

.u-marginLeft--small {
  margin-left: var(--SuitcssUtils-space-small) !important;
}

.u-marginLeft--medium {
  margin-left: var(--SuitcssUtils-space-medium) !important;
}

.u-marginLeft--large {
  margin-left: var(--SuitcssUtils-space-large) !important;
}
