/*:root {
}*/

@media (--sm-viewport) {
  /**
   * Display-type utilities
   */

  .u-sm-block {
    display: block !important;
  }

  .u-sm-hidden {
    display: none !important;
  }

  /**
   * Completely remove from the flow but leave available to screen readers.
   */

  .u-sm-hiddenVisually {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
  }

  .u-sm-inline {
    display: inline !important;
  }

  /**
   * 1. Fix for Firefox bug: an image styled `max-width:100%` within an
   * inline-block will display at its default size, and not limit its width to
   * 100% of an ancestral container.
   */

  .u-sm-inlineBlock {
    display: inline-block !important;
    max-width: 100%; /* 1 */
  }

  .u-sm-table {
    display: table !important;
  }

  .u-sm-tableCell {
    display: table-cell !important;
  }

  .u-sm-tableRow {
    display: table-row !important;
  }
}

@media (--md-viewport) {
  /**
   * Display-type utilities
   */

  .u-md-block {
    display: block !important;
  }

  .u-md-hidden {
    display: none !important;
  }

  /**
   * Completely remove from the flow but leave available to screen readers.
   */

  .u-md-hiddenVisually {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
  }

  .u-md-inline {
    display: inline !important;
  }

  /**
   * 1. Fix for Firefox bug: an image styled `max-width:100%` within an
   * inline-block will display at its default size, and not limit its width to
   * 100% of an ancestral container.
   */

  .u-md-inlineBlock {
    display: inline-block !important;
    max-width: 100%; /* 1 */
  }

  .u-md-table {
    display: table !important;
  }

  .u-md-tableCell {
    display: table-cell !important;
  }

  .u-md-tableRow {
    display: table-row !important;
  }
}

@media (--lg-viewport) {
  /**
   * Display-type utilities
   */

  .u-lg-block {
    display: block !important;
  }

  .u-lg-hidden {
    display: none !important;
  }

  /**
   * Completely remove from the flow but leave available to screen readers.
   */

  .u-lg-hiddenVisually {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
  }

  .u-lg-inline {
    display: inline !important;
  }

  /**
   * 1. Fix for Firefox bug: an image styled `max-width:100%` within an
   * inline-block will display at its default size, and not limit its width to
   * 100% of an ancestral container.
   */

  .u-lg-inlineBlock {
    display: inline-block !important;
    max-width: 100%; /* 1 */
  }

  .u-lg-table {
    display: table !important;
  }

  .u-lg-tableCell {
    display: table-cell !important;
  }

  .u-lg-tableRow {
    display: table-row !important;
  }
}
