/** @define Area; use strict */

:root {
  --Area-header-z: initial;
  --Area-meta-background-color: value;
  --Area-header-background-color: value;
  --Area-purple-background-color: value;
  --Area-purple-color: value;
  --Area-space: inherit;
}

.Area--meta {
  background-color: var(--Area-meta-background-color);
}

.Area--header {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--Area-header-background-color);
}

.Area--main {
  padding-top: var(--Area-space);
  padding-bottom: var(--Area-space);
}

.Area--purple {
  background-color: var(--Area-purple-background-color);
  color: var(--Area-purple-color)
}

.Area--footer {
  padding-top: var(--Area-space);
  padding-bottom: var(--Area-space);
  background-image: url('var(--Url-image)/layout/background-footer.jpg');
  background-size: cover;
}


.Area--main h1,
.Area--main h2,
.Area--main h3,
.Area--main h4,
.Area--main h5 {
  margin-bottom: .5em;
}

.Area--main p {
  margin-bottom: 1.25em;
}

.Area--main p:last-child {
  margin-bottom: 0;
}

.Area-content {
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
